/* Left */
.left5
{
    margin-left:5px !important;
}
.left10
{
    margin-left:10px !important;
}
.left15
{
    margin-left:15px !important;
}
.left20
{
    margin-left:20px !important;
}
.left25
{
    margin-left:25px !important;
}
.left30
{
    margin-left:30px !important;
}
.left35
{
    margin-left:35px !important;
}
.left40
{
    margin-left:40px !important;
}
.left45
{
    margin-left:45px !important;
}
.left50
{
    margin-left:50px !important;
}
.left55
{
    margin-left:55px !important;
}
.left60
{
    margin-left:60px !important;
}
.left65
{
    margin-left:65px !important;
}
/* Right */
.right5
{
    margin-right:5px !important;
}
.right10
{
    margin-right:10px !important;
}
.right15
{
    margin-right:15px !important;
}
.right20
{
    margin-right:20px !important;
}
.right25
{
    margin-right:25px !important;
}
.right25
{
    margin-right:25px !important;
}
.right30
{
    margin-right:30px !important;
}
.right35
{
    margin-right:35px !important;
}
.right40
{
    margin-right:40px !important;
}
.right45
{
    margin-right:45px !important;
}
.right50
{
    margin-right:50px !important;
}
.right55
{
    margin-right:55px !important;
}
.right60
{
    margin-right:60px !important;
}
.right65
{
    margin-right:65px !important;
}
/* Top */
.top-10 {
    margin-top:-10px !important;
}
.top-15 {
    margin-top:-15px !important;
}
.top0{
    margin-top:0px !important;
}
.top5
{
    margin-top:5px !important;
}
.top10
{
    margin-top:10px !important;
}
.top15
{
    margin-top:15px !important;
}
.top20
{
    margin-top:20px !important;
}
.top25
{
    margin-top:25px !important;
}
.top30
{
    margin-top:30px !important;
}
.top35
{
    margin-top:35px !important;
}
.top40
{
    margin-top:40px !important;
}
.top45
{
    margin-top:45px !important;
}
.top50
{
    margin-top:50px !important;
}
.top55
{
    margin-top:55px !important;
}
.top60
{
    margin-top:60px !important;
}
.top65
{
    margin-top:65px !important;
}
.top70
{
    margin-top:70px !important;
}
.top80
{
    margin-top:80px !important;
}
.top100
{
    margin-top:100px !important;
}
/* Bottom */
.bottom-10 {
    margin-bottom:-10px !important;
}
.bottom-15 {
    margin-bottom:-15px !important;
}
.bottom0{
    margin-bottom:0px !important;
}
.bottom5
{
    margin-bottom:5px !important;
}
.bottom10
{
    margin-bottom:10px !important;
}
.bottom15
{
    margin-bottom:15px !important;
}
.bottom20
{
    margin-bottom:20px !important;
}
.bottom25
{
    margin-bottom:25px !important;
}
.bottom30
{
    margin-bottom:30px !important;
}
.bottom35
{
    margin-bottom:35px !important;
}
.bottom40
{
    margin-bottom:40px !important;
}
.bottom45
{
    margin-bottom:45px !important;
}
.bottom50
{
    margin-bottom:50px !important;
}
.bottom55
{
    margin-bottom:55px !important;
}
.bottom60
{
    margin-bottom:60px !important;
}
.bottom65
{
    margin-bottom:65px !important;
}
.bottom70
{
    margin-bottom:70px !important;
}
.bottom80
{
    margin-bottom:80px !important;
}
.bottom100
{
    margin-bottom:100px !important;
}
