.sidebar{
    background-color: #fff;
    border: 1px solid #eee;
    font-size: 0.9em;
    padding: 0;
    font-family: "Roboto";
}

.topbar{

    background-color: #fff;
    border: 1px solid #eee;
    font-size: 0.9em;
    align-self: flex-start;
    margin-left: 25px;

}

.level-item {
    padding: 0;
}

.level-item div {
    margin: 5px;
    padding: 0;
    width: 80%;
}

.level-item .topbar-label{
    color: #aaa;
}

.level-item .topbar-text{
    font-weight: 700;
    font-size: 1.1em;
    color: #000;
}

.level-item a{
    background-color: #d64100;
    width: 160px;
    margin-right: 10px;
    margin-left: auto;
    font-size: 0.9em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.level-item a:hover{
    background-color: #ff5700;
}

.level-item a div{
    margin: 0;
    padding: 0;
}

.button-arrow-wrap{
    flex-basis: 0px;
    flex-basis: 7%;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #fff;


}

.topbar-button-label{
    color: #fff;
    font-weight: bold;
    text-align: center;
    flex-basis: 100%;
}

.topbar-button-text{
    color: #dddddd;
    text-align: right;
    flex-basis: 70%;
}



.sidebar--banner-wrap{

    height:             200px;
    position:           relative;

}

.banner{

    background-color:   #353535 ;
    height:             100px;
    width: 100%;
    position: absolute;

}

.image-wrap{
    position: absolute;
    height:             150px;
    width :             150px;
    padding:            5px;
    border:             1px solid #eee;
    background-color:   #fff;
    margin-top:         25px;
    left: 50%;
    transform: translate(-50%, 0);

}

img{

    height:             100%;
    width :             100%;

}

.picture-wrap{

}

.sidebar--key-information{
    text-align: center;
    margin-bottom: 25px;
}

.sidebar--key-information h1{
    font-weight: bold;
    font-size: 1.5em;
}

.sidebar--key-information h2{
    color: #999999 ;
    font-size: 0.85em;
}

.sidebar-label{
    color: #999999 ;
    font-size: 0.9em;
    text-align: left;
}

.sidebar-text{
    color: #000;
    font-size: 0.9em;
    text-align: right;
}

