.enter-transform {
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  max-height: 10000px;
  transition: transform 0.46s ease, max-height 0s;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.leave-transform {
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);

  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-transition: -webkit-transform 0.46s ease-out;
  -o-transition: -o-transform 0.46s ease;
  -ms-transition: -ms-transform 0.46s ease;
  max-height: 0;
  transition: transform 0.46s ease, max-height 0s 0.46s;
}
